.country {
    margin: 10px;
    background-color: #ebf8e1;
    border: 1px solid lavender;
    border-radius: 10px;
}

.country img {
    width: 150px;
    height: 100px;
}

.country button {
    margin: 5px;
    border: 1px solid lavender;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    padding: 10px;
}

.country button:hover {
    background-color: gray;
}